<header>Team YOLO Buki</header>

<div class="actions">
  <md-button ng-click="logout()" class="md-raised md-primary md-default-theme">Logout</md-button>
  <md-button class="md-raised md-primary md-default-theme" ng-click="openDialog($event)">
    Postea una bs
  </md-button>
</div>

<div class="submit">
  <md-text-float class="frase-buki" label="Frase Buki" ng-model="user.lastName"></md-text-float>
  <h4 class="autor-text">
    Quien dijo reverenda .. ?
  </h4>
</div>

<md-list>
 <md-item>
     <div class="md-tile-left">
         <buki-quote ng-repeat="post in posts" post="post"></buki-quote>
     </div>
 </md-item>
</md-list>
