<header class="main-header">Team YOLO Buki</header>

<div class="actions">
  <md-button class="md-raised md-primary md-default-theme" ng-click="postQuote()">
    Postea una bs
  </md-button>
</div>

<div ng-show="isPosting" class="cssSlideUp submit">
  <h3 class="submit-title">Postea una reverenda ..</h3>
  <textarea class="frase-buki" placeholder="La reverenda .. va aqui" name="frase-buki"></textarea>
  <h4 class="autor-text">
    Quien dijo reverenda .. ?
  </h4>
  <ul class="bukis">
    <li>
      <img class="face" ng-src="https://material.angularjs.org/img/list/60.jpeg" class="face" alt=""> 
    </li>
      <li>
      <img class="face" ng-src="https://material.angularjs.org/img/list/60.jpeg" class="face" alt=""> 
    </li>
    <li>
      <img class="face" ng-src="https://material.angularjs.org/img/list/60.jpeg" class="face" alt=""> 
    </li>
  </ul>
</div>

<md-list>
 <md-item>
     <div class="md-tile-left">
         <buki-quote ng-repeat="post in posts" post="post"></buki-quote>
     </div>
 </md-item>
</md-list>
