md-content.post, div.submit {
  margin: 15px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
}

md-content.post {
  transition: .5s linear all;
  background-color: #ffffff;
}

textarea.frase-buki {
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  margin-top: 10px;
  width: 570px;
  height: 200px;
  border: 1px solid #5495B6;
  border-radius: 3px;
  padding: 20px;
  font-weight: lighter;
  font-size: 20px;
}

textarea.frase-buki:hover {
  transition: .5s linear all;
  color: #00628C;
  background-color: #E4F6FF;
  /*border: 2px solid #5495B6;*/
}

.ng-hide-add, .ng-hide-remove {
  display: block !important; /* yes, important */
}

.cssSlideUp {
  transition: .5s linear all;
  height: 450px;
  overflow: hidden;
}
.cssSlideUp.ng-hide {
    height: 0;
}

span.action-logout {
  font-weight: light;
}

span.action-logout:hover {
  border-bottom: 3px solid #FFFFFF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 5px;
  pointer-events: visible;
}

header.main-header {
  margin-top: 100px;
}

ul.bukis {
  list-style: none;
  padding: 0;
}

ul.bukis li {
  display: inline-block;
  margin: auto;
}

div.submit {
  text-align: center;
  width: 90%;
  border: 1px solid #9e9e9e;
  margin: auto;
  /*background-color: #AADFFF;*/
}

div.submit input {
  margin: auto;
}

div.actions {
  text-align: center;
  margin-top: 20px;
}

div.actions md-button {
  font-weight: lighter;
  margin: 10px;
}

md-content.post:hover, div.submit:hover {
  transition: .5s ease-out all;
  background-color: #BFE7FF;
}

h3.bukiname {
  display: inline;
  margin-left: 10px;
  top: 3%;
}

header {
  margin: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

div.login md-button {
  margin-top: 20px;
  font-size: 40px;  
}

div.login {
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: #dbdbdb;
}

div.login-outer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f0f0f0;
}

img.face {
  border-radius: 30px;
  border: 1px solid #808080;
  width: 48px;
  margin: 16px;
}

md-button.md-orange-theme {
  background-color: #ff9800;
}

.navbar {
  position: fixed;
  top: 0;
}

.navbar > h2 {
  flex-direction: row-reverse;
}

@font-face{
    font-family: "RobotoTTF";
    src: url('/fonts/RobotoTTF/Roboto-Black.ttf')
}
